body {
  font-family: Arial, sans-serif;
  background-color: #858F8F;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23959c9c' points='800 100 0 200 0 800 1600 800 1600 200'/%3E%3Cpolygon fill='%23a4a9a9' points='800 200 0 400 0 800 1600 800 1600 400'/%3E%3Cpolygon fill='%23b3b7b7' points='800 300 0 600 0 800 1600 800 1600 600'/%3E%3Cpolygon fill='%23c2c4c4' points='1600 800 800 400 0 800'/%3E%3Cpolygon fill='%23d1d2d2' points='1280 800 800 500 320 800'/%3E%3Cpolygon fill='%23e0e0e0' points='533.3 800 1066.7 800 800 600'/%3E%3Cpolygon fill='%23EEE' points='684.1 800 914.3 800 800 700'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 500px;
}

h1 {
  text-align: center;
  color: #333;
}

textarea {
  width: 95%;
  height: 200px;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  resize: none;
  outline: none;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #555;
}

#savedNotes {
  margin-top: 20px;
}

.note {
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; /* Permite que o conteúdo e o botão se ajustem */
  word-break: break-word; /* Quebra a palavra se for muito longa */
}

.delete-button {
  background-color: #e74c3c;
  border: none;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.delete-button:hover {
  background-color: #c0392b;
}
