body, html {
    background: #F8C471;
    margin: 0;
    padding: 0;
    height: 100%
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 20px; /* Adicione um espaço entre as imagens, se necessário */
}

#triangulo:hover {
    position: relative;
    left: 40px;
}

#bola:hover {
    position: relative;
    top: -200px;
}

#quadrado {
    position: absolute;
    top: 5px;
    left: 0 auto;
}

#retangulo {
    position: relative;
    left: -120px;
    bottom: -100px;
    
}

