body {
    padding-bottom: 500px;
}

h3 {
    color: red;
}

.paragrafo {
    background: black;
    color: aquamarine;
}

#souID {
    background-color: purple;
    color: yellow;
}

h3 {
    border-bottom: 0.2rem solid darkblue;
}

#h3ID {
    border-bottom: 0.2rem solid blue;
}

.h3CLASS {
    border-bottom: 0.2rem solid darkmagenta;
}

.color_latter{
    color: blue;
}

.color_hex{
    color: #9d8e7d
}

.hex1 {
    color: #789;
}

.hex2 {
    color: #778899;
}

.rgb {
    color: rgb(222, 155, 10)
}

.rgba {
    background-color: rgba(25, 0, 255, 0.1);
    color: rgba(0, 0, 0, 1);
}